subject = "Flavipias  :: {{ assunto }}"
==
Olá Flavipias,
Um usuário lhe enviou uma mensagem através do formulário de contato do website.
Nome: {{ nome }}
E-mail: {{ email }}
Telefone: {{ telefone }}Cidade: {{ cidade }}Estado: {{ estado }}Como nos conheceu: {{ como_nos_conheceu }}Mensagem: {{ mensagem }}
==
<p>Olá Flavipias,</p>
<p>Um usuário lhe enviou uma mensagem através do formulário de contato do website.</p>
Nome: {{ nome }}<br>
E-mail: {{ email }}<br>
Telefone: {{ telefone }}<br>Cidade: {{ cidade }}<br>Estado: {{ estado }}<br>Como nos conheceu: {{ como_nos_conheceu }}<br><p>Mensagem:</p> {{ mensagem }}